@font-face{
  font-family: hkgBl;
  src: url('../fonts/HKGrotesk-Black.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgB;
  src: url('../fonts/HKGrotesk-Bold.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgBI;
  src: url('../fonts/HKGrotesk-BoldItalic.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgEB;
  src: url('../fonts/HKGrotesk-ExtraBold.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgI;
  src: url('../fonts/HKGrotesk-Italic.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgL;
  src: url('../fonts/HKGrotesk-Light.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgLI;
  src: url('../fonts/HKGrotesk-LightItalic.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgM;
  src: url('../fonts/HKGrotesk-Medium.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgMI;
  src: url('../fonts/HKGrotesk-MediumItalic.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkg;
  src: url('../fonts/HKGrotesk-Regular.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgSB;
  src: url('../fonts/HKGrotesk-SemiBold.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: hkgSBI;
  src: url('../fonts/HKGrotesk-SemiBoldItalic.otf') format('opentype');
  font-display: swap;
}
@font-face{
  font-family: SFSB;
  src: url('../fonts/SanFranciscoDisplay-Semibold.otf') format('opentype');
  font-display: swap;
}
