/* content css start */

#content {
    padding-top: 4% !important;
}

.wrapper-about {
    margin: 8% 3%;
    height: 100%;
}

.about-silky {
    display: flex;
    justify-content: space-between;
}

.about-btn-item {
    display: block;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.about-btn-item:hover {
    color: #000;
}

.about-btn-line {
    width: 0.5px;
    height: 15px;
    margin: 0 10px;
    transform: rotate(30deg);
    background-color: rgb(169, 166, 166);
}

.about-title {
    margin-top: 40px;
}

.about-title h2 {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'headlineFont' !important;
}

.about-line {
    width: 30px;
    height: 1px;
    margin: 2% 0;
    background-color: #000;
}

.about-desc {
    font-size: 14px;
    margin-left: 7%;
    width: 82%;
    margin-top: 10%;
}


/* .about-content,
.about-img {
    width: 45%;
} */

.about-img-respon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.author-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.author-item {
    width: calc(100% / 4.5);
    border: .5px solid #aaa8a8;
}

.authour-img {
    width: 100%;
}

.author-img-respon {
    width: 100%;
}

.author-content {
    text-align: center;
    /* width: 70%; */
}

.author-title {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 900;
    margin: 5%;
    font-family: 'Raleway', sans-serif;
}

.author-sub-title {
    text-transform: uppercase;
    font-size: 14px;
}

.author-desc {
    font-size: 12px;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

.elementor-widget-wrap {
    padding: 0 !important;
}

.elementor-heading-title {
    position: relative;
    padding-bottom: 10px;
}

.about-section,
.about-header {
    margin-left: 3%;
    margin-right: 3%;
}

.about-header {
    margin-top: 100px;
}

.about-header a {
    color: #000;
    text-decoration: none;
}

.elementor-heading-title::after {
    content: "";
    width: 20px;
    height: 1px;
    left: 0%;
    bottom: 0;
    background-color: #000;
    position: absolute;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.tablepress .sorting {
    width: 25% !important;
}

.tablepress a {
    width: 100%;
}

.tablepress a img {
    width: 100%;
}

.tablepress .sorting:after {
    display: none;
}

.tablepress .row-1 td {
    width: 25%;
    border-top: 1px solid black !important;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 !important;
}

.tablepress .row-2 td {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.tablepress .row-3 td {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.tablepress .row-4 td {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.tablepress {
    border-collapse: separate;
    border-spacing: 2vw 0px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    border: none;
}

.tablepress caption {
    display: none;
}

.tablepress tbody td,
.tablepress tfoot th {
    border-top: #FFFFFF
}


/* .tablepress .row-2 td,
.tablepress .row-3 td,
.tablepress .row-4 td {
    width: 25%;
    padding: 0 2%;
} */

.tablepress .column-4 {
    margin-right: 3% !important;
}

.tablepress .row-4 td {
    text-align: center;
    font-size: 14px;
}

.tablepress .row-2 td {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif !important;
}

.tablepress .row-3 td {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}


/* edit content about */

.about-inner-content-section p {
    display: block;
    font-size: 14px;
}

.about-inner-content-section .elementor-container {
    width: 69%;
    display: flex;
    justify-content: center;
}

.about-inner-content-section .elementor-column {
    margin: 0 30px;
}

.about-inner-content-section {
    margin-top: 120px;
    margin-bottom: 120px;
    z-index: 1;
}

.about-content-background {
    position: absolute;
    top: 100px;
    right: 0;
    width: 55%;
    overflow: hidden;
    z-index: 0;
    /* transform: translateX(28%); */
}

.about-content-background img {
    width: 100% !important;
    transform: translateX(12%);
}

.about-mid-logo {
    margin: 60px 0;
}

.about-mid-logo p {
    text-align: center;
    font-size: 22px;
    font-family: "headLineFont";
    text-transform: uppercase;
}


/* gallery css start  */

.gallery-section .elementor-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0 !important;
    height: 80%;
    list-style-type: none;
    position: relative;
}

.gallery-section .elementor-column {
    width: 31% !important;
    margin-right: 3.5%;
}

.gallery-section .elementor-column:nth-child(3n+3) {
    margin-right: 0 !important;
}

.gallery-section .elementor-image-box-img {
    width: 100% !important;
    position: relative;
    background-color: rgba(0, 0, 0, .3);
}

.gallery-section .elementor-image-box-img img {
    width: 100% !important;
}

.gallery-section .elementor-image-box-content {
    position: absolute;
    bottom: 90px;
}

.gallery-section .elementor-image-box-title {
    font-size: 22px;
    display: block;
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'headlineFont' !important;
    transform: translateY(100px);
    transition: all .6s;
}

.gallery-section .elementor-image-box-description {
    font-size: 14px;
    text-align: center;
    display: block;
    color: #fff !important;
    width: 84%;
    margin: 0 8% !important;
    transform: translateY(500px);
    margin-top: 15px !important;
    transition: all .5s;
    opacity: 0;
}

.gallery-section .elementor-column:hover .elementor-image-box-description {
    transform: translateY(0%);
    opacity: 1;
}

.gallery-section .elementor-column:hover .elementor-image-box-title {
    transform: translateY(0px);
}

.gallery-section .elementor-image-box-img::after {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    transition: all .6s;
    top: 0;
    left: 0;
    opacity: 0;
}

.gallery-section .elementor-column:hover .elementor-image-box-img::after {
    opacity: 1;
}


/* gallery css end  */


/* edit content about */


/* content css end */


/* footer css start */

#footer-menu {
    list-style-type: none !important;
    padding-left: 0 !important;
}

.footer-service a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer-section {
    width: 100%;
    background-color: #F5F1EC;
}

.wrap-footer {
    width: 95%;
    margin: 0 auto;
    padding: 3% 0;
    font-size: 14px;
}

.footer-contact {
    display: flex;
    width: 100%;
}

.footer-content {
    display: flex;
    width: 100%;
}

.footer-contact-item,
.footer-service-item,
.footer-input-item {
    margin-bottom: 5px;
}

.footer-line {
    content: "";
    width: 100%;
    border-top: 1px solid #a19f9f;
    margin: 1.2% 0;
    opacity: .5;
}

.footer-service {
    margin-left: 36px;
}

.footer-hidden-element {
    visibility: hidden;
}

.footer-input-form {
    width: 25%;
}

.footer-search-form {
    display: flex;
    height: 35px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 4px 0;
    border-radius: 15px;
    justify-content: space-between;
    border: 1px solid #707070;
    background-color: #FFFFFF;
}

.footer-search-input {
    outline: none;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    max-height: 100%;
    width: 86%;
}

.footer-search-input::placeholder {
    font-size: 14px;
}

.footer-search-btn {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 23px;
    margin-right: 4%;
}

.footer-search-btn:hover {
    color: #000;
}

.footer-desc {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.social-connection {
    display: flex;
}

.social-connection-item i {
    color: #000;
}

.social-connection-item i:hover {
    color: #000;
}

.social-connection-item {
    margin: 0 3px;
}

.logo-footer {
    display: flex;
    justify-content: end;
    width: 230px;
    left: 43%;
}

.logo-img-respon {
    object-fit: contain;
    width: 52%;
}

#social-menu {
    display: flex;
    padding-left: 0 !important;
    list-style-type: none;
}

#social-menu li {
    margin: 0 5px;
}


/* footer css end */

.elementor-element {
    clear: both !important;
}

@media only screen and (max-width: 550px) {
    .tablepress {
        width: 94%;
    }
    .tablepress .row-2 td {
        font-size: 11px;
        padding: 3px 5px;
    }
    .tablepress .row-3 td,
    .tablepress .row-4 td {
        font-size: 10px;
        padding: 3px 5px
    }
}

@media only screen and (max-width: 1024px) {
    .about-section {
        /* margin-left: 0; */
    }
    .elementor-heading-title {
        /* margin-left: 3%; */
    }
    .about-inner-content-section .elementor-container {
        width: 100%;
    }
    .about-content-background {
        position: absolute;
        top: 20vh;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        z-index: 0;
    }
    .about-section .about-inner-content-section .elementor-column {
        width: 75%;
    }
    .about-content-background img {
        width: 65% !important;
        /* transform: translateX(17%); */
        transform: rotate(-52deg);
    }
}

@media only screen and (max-width:800px) {
    .about-content-background img {
        width: 100% !important;
        /* transform: translateX(17%); */
        /* transform: rotate(-52deg); */
        transform: none;
    }
    .about-content-background {
        position: absolute;
        top: 26vh;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
        z-index: 0;
    }
    .gallery-section .elementor-container {
        flex-direction: column;
    }
    .gallery-section .elementor-column {
        width: 100% !important;
        margin-right: 0;
    }
    .gallery-section .elementor-image-box-img {
        margin-bottom: 0 !important;
    }
    .gallery-section .elementor-image-box-title {
        font-size: 22px;
        display: block;
        text-transform: uppercase;
        color: #fff !important;
        font-family: 'headlineFont' !important;
        transform: translateY(0px);
        transition: all .6s;
    }
    .gallery-section .elementor-image-box-description {
        font-size: 14px;
        text-align: center;
        display: block;
        color: #fff !important;
        width: 84%;
        margin: 0 8% !important;
        transform: translateY(0px);
        margin-top: 15px !important;
        transition: all .5s;
    }
    .gallery-section .elementor-image-box-img::after {
        content: " ";
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        transition: all .6s;
        top: 0;
        left: 0;
        opacity: 1;
    }
    .gallery-section .elementor-container {
        margin: 0 !important;
    }
}


/* footer responsive */

.footer-mobile {
    display: none;
}

@media only screen and (max-width: 777px) {
    .about-section {
        margin-left: 0;
        margin-right: 0;
    }
    .elementor-heading-title {
        margin-left: 3%;
    }
    .footer-mobile {
        display: block;
    }
    .footer-desktop {
        display: none;
    }
    .wrap-footer {
        font-size: 14px;
        padding: 30px 0px;
        width: 100%;
        margin: 0;
    }
    .footer-content {
        display: unset;
        text-align: center;
        width: 100%;
    }
    .footer-contact {
        display: unset;
    }
    .footer-service {
        margin-left: 0%;
    }
    .footer-input-form {
        width: 80%;
        margin: 0 auto;
        /* text-align: center; */
        margin-top: 32px;
    }
    .footer-title {
        font-size: 16px;
    }
    .footer-service a {
        font-size: 14px;
    }
    .footer-desc {
        font-size: 14px;
        text-align: center;
        display: unset;
    }
    .social-connection {
        display: block;
        margin: 10px auto;
    }
    .logo-footer {
        display: block;
        margin: 10px auto;
        width: 25%;
        position: unset;
        left: unset;
    }
    .logo-img-respon {
        width: 100%;
    }
}


/* footer-responsive end */


/* menu mobile */

@media only screen and (max-width: 768px) {
    /* menu-moible */
    .header-feature {
        margin-right: 10px;
    }
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: block;
        position: fixed;
    }
    .wdlog-btn {
        margin-right: 10px;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .menu-mobile-btn {
        margin-left: 15px;
    }
    .menu-mobile-content {
        position: fixed;
        left: 0%;
        top: 0%;
        transform: translateX(-300%);
        /* display: none; */
        z-index: 9;
        box-shadow: 0px 1px 7px #0000000d;
        width: 100%;
        height: 100%;
        transition: all .3s;
        opacity: 0;
        background-color: rgba(255, 255, 255, 1);
    }
    .menu-mobile-content-active {
        opacity: 1;
        transform: translateX(0%);
    }
    .menu-mobile-list #header-menu {
        display: flex;
        flex-direction: column !important;
        list-style-type: none;
        padding-left: 0% !important;
        /* overflow-y: auto; */
        margin-top: 20px;
        height: 100%;
    }
    .parent-menu {
        line-height: 50px!important;
        width: 100%;
        padding: 0% 5%;
        font-size: 14px;
        text-align: start;
        /* border-bottom: rgb(202, 198, 198) 1px solid; */
        height: auto;
    }
    .sub-menu {
        position: relative;
    }
    .menu-mobile-control-btn {
        height: 100px;
        display: flex;
        box-shadow: 0px 1px 7px #0000000d;
        padding: 0 5%;
        justify-content: space-between;
        align-items: center;
    }
    .back-menu-btn-1 {
        display: none;
        transition: all .5s;
    }
    .back-menu-btn-2 {
        display: none;
        transition: all .5s;
    }
    .remove-back-menu-btn {
        display: none !important;
    }
    .back-menu-btn-active {
        display: block;
    }
    .parent-1 {
        position: relative;
    }
    .parent-1::after {
        content: "";
        width: 7px;
        position: absolute;
        height: 7px;
        top: 40%;
        /* width: 30px; */
        right: 30px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .parent-2 {
        position: relative;
    }
    .parent-2::after {
        content: "";
        width: 7px;
        position: absolute;
        height: 7px;
        top: 40%;
        /* width: 30px; */
        right: 30px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .parent-3 {
        position: relative;
    }
    .parent-3::after {
        content: "";
        width: 7px;
        position: absolute;
        height: 7px;
        top: 40%;
        /* width: 30px; */
        right: 30px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .menu-mobile-list .parent-1 .sub-menu {
        padding-left: 3% !important;
        display: block !important;
        min-height: 58vh;
        background-color: #fff;
        list-style-type: none;
        position: absolute;
        top: -69px;
        transition: all .5s;
        transform: translateX(100%);
        width: 100%;
        z-index: 1;
    }
    .parent-2 .sub-menu {
        padding-left: 3% !important;
        display: block !important;
        min-height: 58vh;
        background-color: #fff;
        list-style-type: none;
        position: absolute;
        top: -105px;
        transition: all .5s;
        transform: translateX(100%);
        width: 100%;
        z-index: 1;
    }
    .parent-3 .sub-menu {
        padding-left: 3% !important;
        display: block !important;
        min-height: 58vh;
        background-color: #fff;
        list-style-type: none;
        position: absolute;
        top: -165px;
        transition: all .5s;
        transform: translateX(100%);
        width: 100%;
        z-index: 1;
    }
    .sub-menu-active,
    .sub-child-menu-active {
        transform: translateX(0%) !important;
    }
    .parent-sub-menu-1,
    .parent-sub-menu-2,
    .parent-sub-menu-3,
    .parent-sub-menu-4 {
        position: relative;
    }
    .parent-sub-menu-1::after,
    .parent-sub-menu-2::after,
    .parent-sub-menu-3::after,
    .parent-sub-menu-4::after {
        content: "";
        width: 7px;
        position: absolute;
        height: 7px;
        top: 40%;
        /* width: 30px; */
        right: 30px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .menu-mobile-list .parent-sub-menu-1 .sub-menu {
        transform: translateX(100%);
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
    }
    .menu-mobile-list .parent-sub-menu-2 .sub-menu {
        transform: translateX(100%);
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
    }
    .menu-mobile-list .parent-sub-menu-3 .sub-menu {
        transform: translateX(100%);
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
    }
    .menu-mobile-list .parent-sub-menu-3 .sub-menu .sub-menu-lv3 .sub-menu {
        position: relative;
        transform: translateX(0);
    }
    .menu-mobile-list .parent-sub-menu-4 .sub-menu {
        transform: translateX(100%);
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
    }
    .menu-mobile-list {
        height: 80vh;
        overflow-y: auto;
    }
    /* menu-moible */
    .link-cart-item {
        margin-right: 30%;
    }
    .menu-mobile {
        display: flex;
        width: 80px;
        justify-content: space-between;
    }
    .country-selector {
        right: 0;
        width: 62px;
    }
    .wglanguage-name,
    .country-selector ul a {
        font-size: 10px;
    }
    .country-selector.weglot-inline label {
        padding: 0px 3px !important;
    }
    .country-selector ul {
        padding: 2px 1px !important;
    }
    .header-search-group-wrapper {
        top: 36%;
    }
    .search-form-mobile {
        width: 80% !important;
        margin: 25px auto;
        z-index: 9;
    }
    .header-search-group-wrapper {
        position: relative;
        width: 100%;
        margin: 0 3%;
        border: 1px solid rgb(0 0 0);
    }
    .search-field {
        max-width: 100%!important;
    }
}


/* translatepress reponsive */

@media only screen and (max-width:786px) {
    .trp_language_switcher_shortcode {
        position: absolute;
        right: 70px;
        top: 41% !important;
    }
}

@media only screen and (max-width:500px) {
    .trp_language_switcher_shortcode {
        position: absolute;
        right: 41px;
        top: 41% !important;
    }
}


/* translatepress reponsive */


/* social mobile */

@media only screen and (max-width:768px) {
    .social-mobile-title {
        text-align: center;
        font-size: 12px;
    }
    #social-menu {
        display: flex;
        padding-left: 0 !important;
        list-style-type: none;
        justify-content: center;
    }
    .copy-right {
        font-size: 12px;
        text-align: center;
    }
}


/* social mobile */

@media only screen and (max-width: 600px) {
    .header-logo {
        text-align: center;
        width: 136px;
        position: absolute;
        left: 35%;
    }
}

.cart-toggle-btn svg {
    margin-left: 86%;
    cursor: pointer;
    width: 20px !important;
}


/* side cart */

@media only screen and (max-width: 784px) {
    .xoo-wsc-container {
        max-width: 100% !important;
    }
    .xoo-wsc-container,
    .xoo-wsc-slider {
        width: 100%;
    }
    .xoo-wsc-body {
        padding-left: 5%;
    }
}


/* side cart */

@media only screen and (max-width: 1024px) {
    .about-header .woocommerce-breadcrumb {
        margin-left: 0%;
    }
}


/* menu - mobile */