@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&family=Tiro+Devanagari+Hindi:ital@1&family=Tiro+Devanagari+Sanskrit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&family=Raleway:wght@400;500&family=Roboto:wght@300&family=Tiro+Devanagari+Hindi:ital@1&family=Tiro+Devanagari+Sanskrit&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    overflow: hidden;
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 0;
}


/* Header css */

.header-section {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 1px 7px #0000000D;
    /* position: absolute; */
}

.navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: white;
}

.nav-list {
    height: 100%;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 0 40px; */
}

.nav-link {
    font-size: 12px;
    min-width: 111px;
    padding: 0px !important;
    text-align: center;
    text-transform: uppercase;
}

.shop-link {
    position: relative;
    display: block;
}

.nav-link:hover {
    color: #866733 !important;
    font-weight: 550;
}


/* sub-shop-menu css */

.sub-shop-menu {
    position: absolute;
    width: 320px;
    height: 250px;
    top: 100%;
    background-color: #FFFFFF;
    opacity: .9;
    display: none;
    z-index: 900;
}

.link-shop-item:hover .sub-shop-menu {
    display: block;
}

.sub-shop-list {
    height: 100%;
    margin-top: 30px;
    list-style-type: none;
    /* position: relative; */
}

.shop-item-active:hover {
    color: #866733 !important;
}

.shop-item-title:hover {
    color: black;
}

.shop-item {
    margin-bottom: 7px;
}

.shop-item-title {
    text-align: left;
    padding-left: 114px;
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/* sub-menu-1 css */

.sub-menu-1 {
    position: absolute;
    background-color: #FFFFFF;
    opacity: .7;
    left: 100%;
    top: 0;
    width: 200px;
    height: 100%;
    display: none;
}

.menu-1:hover .sub-menu-1 {
    display: block;
}

.sub-list-1 {
    margin-top: 30px;
}

.sub-item-1 {
    margin-bottom: 7px;
}

.sub-item-1 a {
    text-align: left;
    width: 100%;
    padding-left: 2.5%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/* sub-menu-2 css */

.sub-menu-2 {
    position: absolute;
    background-color: #FFFFFF;
    opacity: .7;
    left: 100%;
    top: 0;
    width: 200px;
    height: 100%;
    display: none;
}

.menu-2:hover .sub-menu-2 {
    display: block;
}

.sub-list-2 {
    margin-top: 30px;
}

.sub-item-2 {
    margin-bottom: 7px;
}

.sub-item-2 a {
    text-align: left;
    width: 100%;
    padding-left: 2.5%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/* sub-collection-menu css */

.collection-link {
    position: relative;
    display: block;
}

.sub-collection-list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-top: 31px;
}

.sub-collection-menu {
    position: absolute;
    z-index: 900;
    min-width: 210px;
    height: 165px;
    padding-left: 40px;
    margin-right: 30px;
    top: 100%;
    left: 90px;
    background-color: #FFFFFF;
    opacity: .9;
    display: none;
}

.link-collection-item:hover .sub-collection-menu {
    display: block;
}

.sub-collection-item a {
    text-align: left;
    /* padding-left: 114px; */
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.sub-collection-item a:hover {
    color: #9E8760;
}

.sub-collection-item {
    padding-bottom: 10px;
}


/*  sub-about-menu */

.about-link {
    position: relative;
    display: block;
}

.sub-about-menu {
    z-index: 900;
    position: absolute;
    min-width: 200px;
    height: 114px;
    padding-left: 40px;
    margin-right: 30px;
    top: 100%;
    left: 200px;
    background-color: #FFFFFF;
    opacity: .9;
    display: none;
}

.link-about-item:hover .sub-about-menu {
    display: block;
}

.sub-about-list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-top: 31px;
}

.sub-about-item a {
    text-align: left;
    /* padding-left: 114px; */
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.sub-about-item a:hover {
    color: #9E8760;
}

.sub-about-item {
    padding-bottom: 10px;
}

.header-logo {
    text-align: center;
    width: 200px;
    position: absolute;
    left: 43.9%;
}

.logo-img {
    height: 100%;
}

.logo-respon {
    width: 50%;
}

.header-feature {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 12px;
    /* margin-right: 2%; */
    justify-content: space-around;
    width: 8%;
}

.header-feature-list {
    height: 100%;
    display: flex;
    align-items: center;
}


/* cart-item css */

.link-cart-item {
    padding-right: 30%;
    right: 0;
}

.cart-box {
    /* position: absolute; */
    background-color: #A48D66;
    right: 0;
    position: fixed;
    overflow-y: auto;
    top: 0;
    height: 100vh;
    opacity: .95;
    display: none;
    z-index: 800;
    transform: translateX(300%);
    transition: all .5s;
    width: 30vw;
}

.cart-toggle-btn {
    margin: 8% 0;
}

.cart-toggle-btn svg {
    margin-left: 86%;
    cursor: pointer;
    width: 1.5vw !important;
}

.cart-content {
    /* width: 100%; */
    height: 100vh;
    margin: 0 68px;
}

.cart-product-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-product-img {
    width: 100px;
    height: 100px;
}

.cart-product-img img {
    width: 100%;
}

.line-cart {
    content: "";
    width: 100%;
    border-top: 1px solid #FFFFFF;
    margin: 6% 0;
    opacity: .5;
}

.cart-product-content {
    color: #FFFFFF;
}

.cart-product-name {
    font-size: .86vw;
    font-weight: 550;
}

.cart-product-material {
    font-size: 13px;
}

.cart-product-price {
    font-size: 16px;
    font-weight: 550;
    /* margin-top: 18%; */
    margin-top: 35px;
}

.cart-calculate-checkout {
    margin-top: 25%;
    font-size: 13px;
    color: #FFFFFF;
}

.cart-calculate-checkout-title {
    width: 100%;
    text-align: end;
}

.cart-btn {
    margin-top: 10%;
    cursor: pointer;
}

.cart-icon:hover {
    color: #866733;
}

.checkout-btn {
    text-transform: uppercase;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #FFFFFF;
    outline: 1.5px solid black;
    border-radius: 30px;
    transition: ease-out .2s;
    position: relative;
    text-decoration: none;
    color: #000;
}

.checkout-btn:hover {
    background-color: #000;
    color: #FFFFFF;
    outline: #000000 solid 1px;
    border: #A48D66 2.5px solid;
}


/* .checkout-btn::after {
    content: " Check Out ";
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 50px;
    background-color: #000000;
    border: 2px solid transparent;
    color: #ffffff;
    border-radius: 30px;
    transition: all .4s;
    inset: 1%;
    opacity: 1;
} */


/* .checkout-btn::after:hover {
    opacity: 1;
} */

.cart-menu-open {
    transform: translate(0px);
}

.cart-menu-close {
    transform: translateX(300%);
}

.switch-languae-btn {
    text-align: center;
    width: 25px;
    margin-top: 20px;
    /* border-radius: 20px;
    border: 1px solid black;
    transition: all .5s; */
    /* padding-bottom: 40px; */
    /* padding: 4px 5px; */
    position: relative;
}

.switch-english-btn {
    line-height: 20px;
    margin-top: 1.5px;
}

.switch-vietnamese-btn {
    transform: translateX(100px);
    transition: all 0.4s;
    /* display: none; */
    margin-left: 0.4%;
    opacity: 0;
}

.switch-languae-btn:hover .switch-btn-layer {
    height: 100%;
}

.switch-btn-layer {
    border-radius: 20px;
    border: 1px solid black;
    transition: all .5s;
    height: 24px;
    width: 25px;
    position: absolute;
    top: 0%;
    left: 0;
}

.switch-vietnamese-btn {
    cursor: pointer;
}

.switch-vietnamese-btn:hover {
    font-weight: bold;
}

.switch-languae-btn:hover .switch-vietnamese-btn {
    transform: translateX(0px);
    opacity: 1;
    /* display: block; */
}

.searching-form {
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    z-index: 600;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.search-input {
    border-style: none;
    width: 0px;
    /* display: none; */
    outline: none;
    transition: width 1s;
}

.search-input::placeholder {
    left: 10px;
}

.searching-form:hover {
    border-radius: 15px;
    border: 1px solid #707070;
}

.searching-form:hover .search-input {
    min-width: 100px;
}


/* header css end */


/* content css start */

.wrapper-about {
    margin: 8% 3%;
    height: 100%;
}

.about-silky {
    display: flex;
    justify-content: space-between;
}

.about-btn-item {
    display: block;
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

.about-btn-item:hover {
    color: #000;
}

.about-btn-line {
    width: 0.5px;
    height: 15px;
    margin: 0 10px;
    transform: rotate(30deg);
    background-color: rgb(169, 166, 166);
}

.about-title {
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 900;
    margin-top: 9%;
    font-family: 'Raleway', sans-serif;
}

.about-line {
    width: 30px;
    height: 1px;
    margin: 2% 0;
    background-color: #000;
}

.about-desc {
    font-size: 13px;
    margin-left: 7%;
    width: 82%;
    margin-top: 10%;
}

.about-content,
.about-img {
    width: 45%;
}

.about-img-respon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.author-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.author-item {
    width: calc(100% / 4.5);
    border: .5px solid #aaa8a8;
}

.authour-img {
    width: 100%;
}

.author-img-respon {
    width: 100%;
}

.author-content {
    text-align: center;
    /* width: 70%; */
}

.author-title {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 900;
    margin: 5%;
    font-family: 'Raleway', sans-serif;
}

.author-sub-title {
    text-transform: uppercase;
    font-size: 13px;
}

.author-desc {
    font-size: 12px;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

.elementor-widget-wrap {
    padding: 0 !important;
}

.elementor-heading-title {
    position: relative;
    padding-bottom: 10px;
}

.about-section,
.about-header {
    margin-left: 3%;
}

.elementor-heading-title::after {
    content: "";
    width: 3%;
    height: 1px;
    left: 0.4%;
    bottom: 0;
    background-color: #000;
    position: absolute;
}


/* content css end */


/* footer css start */

.footer-section {
    width: 100%;
    background-color: #F5F1EC;
}

.wrap-footer {
    width: 95%;
    margin: 0 auto;
    padding: 3% 0;
    font-size: 13px;
}

.footer-contact {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-contact-item,
.footer-service-item,
.footer-input-item {
    margin-bottom: 5px;
}

.footer-line {
    content: "";
    width: 100%;
    border-top: 1px solid #a19f9f;
    margin: 1.2% 0;
    opacity: .5;
}


/* 
.footer-service {
    margin-left: 20%;
} */

.footer-hidden-element {
    visibility: hidden;
}

.footer-input-form {
    width: 25%;
}

.footer-search-form {
    display: flex;
    height: 35px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 4px 0;
    border-radius: 15px;
    justify-content: space-between;
    border: 1px solid #707070;
    background-color: #FFFFFF;
}

.footer-search-input {
    outline: none;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    max-height: 100%;
    width: 86%;
}

.footer-search-input::placeholder {
    font-size: 13px;
}

.footer-search-btn {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    line-height: 23px;
    margin-right: 4%;
}

.footer-search-btn:hover {
    color: #000;
}

.footer-desc {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.social-connection {
    display: flex;
}

.social-connection-item i {
    color: #000;
}

.social-connection-item i:hover {
    color: #000;
}

.social-connection-item {
    margin: 0 3px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 45%;
}

.logo-img-respon {
    object-fit: contain;
    width: 52%;
}