@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&family=Tiro+Devanagari+Hindi:ital@1&family=Tiro+Devanagari+Sanskrit&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    overflow: hidden;
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 0;
}


/* Header wp css */

.collapse {
    width: fit-content;
    height: 100%;
    display: block !important;
    flex-grow: 0 !important;
}

.main-menu {
    height: 100%;
    align-items: center;
}


/* Header css */


/* search-btn */

.header_search_btn {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZFcSyhLzC2lTQwocRVp1rfiOun01aMQGnhw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #fff;
    margin-left: 1px;
    height: 17px;
}

.header_search_btn:hover {
    border: 1px solid #fff;
    background-color: none !important;
}

.header-search-group {
    display: flex;
    flex-wrap: nowrap;
}

.header-search-group-wrapper {
    position: absolute;
    right: 14%;
    top: 44%;
    /* margin: 10px 0; */
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255);
}

.header-search-group-wrapper:hover {
    border: 1px solid #000;
}

.search-field {
    height: 24px;
    max-width: 0px !important;
    /* min-width: 150px !important; */
    padding: 0%;
    outline: none;
    border: 0;
    margin-left: 5px;
    transition: all .7s;
    /* display: none; */
}

.header-search-group-wrapper:hover .search-field {
    /* padding: 10px 10px; */
    min-width: 150px !important;
    /* border: 1px solid #000; */
    /* display: block; */
}


/* search-btn */


/* langue btn */

.header-feature {
    width: 8% !important;
    justify-content: unset !important;
}

.link-cart-item {
    width: 33px !important;
    padding-right: 0% !important;
    margin-left: 10px;
}

.header-search-group-wrapper {
    right: 0 !important;
}

.country-selector.weglot-dropdown .wgcurrent:after {
    display: none;
}

.country-selector {
    z-index: 0;
    display: flex;
    height: auto;
    position: absolute;
    top: 44%;
    width: 22px;
    border-radius: 25px;
    border: 1px solid #000;
    flex-direction: column;
    text-align: center;
    transition: all .5s;
}

.country-selector ul li a {
    padding: 0;
}

.country-selector ul li a:hover {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: 600;
}

.switch-lag {
    transition: all .5s;
    display: none !important;
}

.country-selector:hover .switch-lag {
    display: block !important;
}

.header-feature-list {
    width: 35px !important;
}


/* langue btn */


/* menu desktop*/

.menu-desktop {
    height: 100%;
    z-index: 10;
    font-size: 13px;
}

.menu-desktop ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.parent-sub-menu .sub-menu {
    display: none !important;
}

.parent-3 .sub-menu {
    padding-left: 22% !important;
}

.parent-2 .sub-menu {
    padding-left: 28% !important;
}

.parent-1 .sub-menu {
    padding-left: 28% !important;
    /* display: block !important; */
    min-height: 19vw;
}

.sub-menu {
    display: none;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    text-align: start !important;
    width: 13vw;
    padding-left: 27px !important;
    left: 0;
    padding-top: 20px !important;
    padding-bottom: 25px !important;
    line-height: 35px !important;
}

.parent-sub-menu .sub-menu {
    display: none !important;
    position: absolute;
    top: 0%;
    left: 100%;
    padding-left: 49px !important;
    padding-bottom: 20px !important;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
}

.parent-sub-menu .sub-menu {
    min-height: 19vw;
    /* max-height: 19vw; */
}

.sub-menu-lv3 {}

.sub-menu-lv3 .sub-menu {
    position: unset;
    display: none !important;
    background-color: rgba(255, 255, 255, 0);
    left: 0;
    padding-left: 10px !important;
    line-height: 23px !important;
    padding-bottom: 0 !important;
    min-height: 0 !important;
    padding-top: 0 !important;
}

.sub-menu-lv3 a:hover .sub-menu {
    display: block;
}

.parent-menu {
    width: fit-content;
    text-align: center;
    padding: 0 2.6vw;
    height: 100%;
    line-height: 100px;
    position: relative;
}

.parent-menu a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.sub-menu a {
    text-transform: none;
}

.parent-menu a:hover {
    color: #9E8760;
}

#header-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.parent-2 .sub-menu {
    /* display: block !important; */
}

.parent-2 .parent-sub-menu {
    /* text-align: center; */
}

.parent-2 {
    min-width: 20%;
}

.parent-1 .sub-menu {
    min-width: 14vw !important;
}


/* .parent-1 .sub-menu {
    display: block;
} */


/* active-menu-action  */

.parent-menu:hover .sub-menu {
    display: block;
}

.parent-sub-menu:hover .sub-menu {
    display: block !important;
}


/*  active-menu-action   */


/* menu desktop */

.header-section {
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 1px 7px #0000000D;
    position: fixed;
    z-index: 999999;
    top: 0;
}

.nav-down {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -100px;
}

.navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: white;
}

.nav-list {
    height: 100%;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 0 40px; */
}

.nav-link {
    font-size: 12px;
    min-width: 111px;
    padding: 0px !important;
    text-align: center;
    text-transform: uppercase;
}

.shop-link {
    position: relative;
    display: block;
}

.nav-link:hover {
    color: #866733 !important;
    font-weight: 550;
}


/* sub-shop-menu css */

.sub-shop-menu {
    position: absolute;
    width: 320px;
    height: 250px;
    top: 100%;
    background-color: #FFFFFF;
    opacity: .9;
    display: none;
    z-index: 900;
}

.link-shop-item:hover .sub-shop-menu {
    display: block;
}

.sub-shop-list {
    height: 100%;
    margin-top: 30px;
    list-style-type: none;
    /* position: relative; */
}

.shop-item-active:hover {
    color: #866733 !important;
}

.shop-item-title:hover {
    color: black;
}

.shop-item {
    margin-bottom: 7px;
}

.shop-item-title {
    text-align: left;
    padding-left: 114px;
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/* sub-menu-1 css */


/* .sub-menu-1 {
    position: absolute;
    background-color: #FFFFFF;
    opacity: .7;
    left: 100%;
    top: 0;
    width: 200px;
    height: 100%;
    display: none;
} */

.menu-1:hover .sub-menu-1 {
    display: block;
}

.sub-list-1 {
    margin-top: 30px;
}

.sub-item-1 {
    margin-bottom: 7px;
}

.sub-item-1 a {
    text-align: left;
    width: 100%;
    padding-left: 2.5%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/* sub-menu-2 css */

.sub-menu-2 {
    position: absolute;
    background-color: #FFFFFF;
    opacity: .7;
    left: 100%;
    top: 0;
    width: 200px;
    height: 100%;
    display: none;
}

.menu-2:hover .sub-menu-2 {
    display: block;
}

.sub-list-2 {
    margin-top: 30px;
}

.sub-item-2 {
    margin-bottom: 7px;
}

.sub-item-2 a {
    text-align: left;
    width: 100%;
    padding-left: 2.5%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}


/* sub-collection-menu css */

.collection-link {
    position: relative;
    display: block;
}

.sub-collection-list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-top: 31px;
}

.sub-collection-menu {
    position: absolute;
    z-index: 900;
    min-width: 210px;
    height: 165px;
    padding-left: 40px;
    margin-right: 30px;
    top: 100%;
    left: 90px;
    background-color: #FFFFFF;
    opacity: .9;
    display: none;
}

.link-collection-item:hover .sub-collection-menu {
    display: block;
}

.sub-collection-item a {
    text-align: left;
    /* padding-left: 114px; */
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.sub-collection-item a:hover {
    color: #9E8760;
}

.sub-collection-item {
    padding-bottom: 10px;
}


/*  sub-about-menu */

.about-link {
    position: relative;
    display: block;
}

.sub-about-menu {
    z-index: 900;
    position: absolute;
    min-width: 200px;
    height: 114px;
    padding-left: 40px;
    margin-right: 30px;
    top: 100%;
    left: 200px;
    background-color: #FFFFFF;
    opacity: .9;
    display: none;
}

.link-about-item:hover .sub-about-menu {
    display: block;
}

.sub-about-list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-top: 31px;
}

.sub-about-item a {
    text-align: left;
    /* padding-left: 114px; */
    width: 100%;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.sub-about-item a:hover {
    color: #9E8760;
}

.sub-about-item {
    padding-bottom: 10px;
}

.header-logo {
    text-align: center;
    width: 200px;
    position: absolute;
    left: 43.9%;
}

.logo-img {
    height: 100%;
}

.logo-respon {
    width: 50%;
}

.header-feature {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 12px;
    /* margin-right: 2%; */
    justify-content: space-around;
    width: 128px;
}

.header-feature-list {
    height: 100%;
    display: flex;
    align-items: center;
    width: 90px;
    position: relative;
}


/* cart-item css */

.link-cart-item {
    padding-right: 30%;
    right: 0;
}

.cart-box {
    /* position: absolute; */
    background-color: #A48D66;
    right: 0;
    position: fixed;
    overflow-y: auto;
    top: 0;
    height: 100vh;
    opacity: .95;
    /* display: none; */
    z-index: 800;
    transform: translateX(300%);
    transition: all .5s;
    width: 30vw;
}

.cart-toggle-btn {
    margin: 8% 0;
}

.cart-toggle-btn svg {
    margin-left: 86%;
    cursor: pointer;
    width: 1.5vw !important;
}

.cart-content {
    /* width: 100%; */
    height: 100vh;
    margin: 0 68px;
}

.cart-product-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-product-img {
    width: 100px;
    height: 100px;
}

.cart-product-img img {
    width: 100%;
}

.line-cart {
    content: "";
    width: 100%;
    border-top: 1px solid #FFFFFF;
    margin: 6% 0;
    opacity: .5;
}

.cart-product-content {
    color: #FFFFFF;
}

.cart-product-name {
    font-size: .86vw;
    font-weight: 550;
}

.cart-product-material {
    font-size: 13px;
}

.cart-product-price {
    font-size: 16px;
    font-weight: 550;
    /* margin-top: 18%; */
    margin-top: 35px;
}

.cart-calculate-checkout {
    margin-top: 25%;
    font-size: 13px;
    color: #FFFFFF;
}

.cart-calculate-checkout-title {
    width: 100%;
    text-align: end;
}

.cart-btn {
    margin-top: 10%;
    cursor: pointer;
}

.cart-icon:hover {
    color: #866733;
}

.checkout-btn {
    text-transform: uppercase;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #FFFFFF;
    outline: 1.5px solid black;
    border-radius: 30px;
    transition: ease-out .2s;
    position: relative;
    text-decoration: none;
    color: #000;
}

.checkout-btn:hover {
    background-color: #000;
    color: #FFFFFF;
    outline: #000000 solid 1px;
    border: #A48D66 2.5px solid;
}


/* .checkout-btn::after {
    content: " Check Out ";
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 50px;
    background-color: #000000;
    border: 2px solid transparent;
    color: #ffffff;
    border-radius: 30px;
    transition: all .4s;
    inset: 1%;
    opacity: 1;
} */


/* .checkout-btn::after:hover {
    opacity: 1;
} */

.cart-menu-open {
    right: 0;
}

.cart-menu-close {
    transform: translateX(300%);
}

.switch-languae-btn {
    text-align: center;
    width: 25px;
    margin-top: 20px;
    /* border-radius: 20px;
    border: 1px solid black;
    transition: all .5s; */
    /* padding-bottom: 40px; */
    /* padding: 4px 5px; */
    position: relative;
}

.switch-english-btn {
    line-height: 20px;
    /* margin-top: 1.5px; */
}

.switch-vietnamese-btn {
    transform: translateY(1px);
    transition: all 0.4s;
    /* display: none; */
    margin-left: 0.4%;
    opacity: 0;
}

.switch-languae-btn:hover .switch-btn-layer {
    height: 100%;
}

.switch-btn-layer {
    border-radius: 20px;
    border: 1px solid black;
    transition: all .5s;
    height: 24px;
    width: 25px;
    position: absolute;
    top: 0%;
    left: 0;
}

.switch-vietnamese-btn {
    cursor: pointer;
}

.switch-vietnamese-btn:hover {
    font-weight: bold;
}

.switch-languae-btn:hover .switch-vietnamese-btn {
    transform: translateY(0px);
    opacity: 1;
    /* display: block; */
}

.searching-form {
    display: flex;
    padding: 0px 11px;
    justify-content: space-between;
    z-index: 600;
    width: fit-content;
    height: fit-content;
    align-items: center;
    position: absolute;
    right: 0%;
    transition: all .5s;
    /* position: relative; */
}

.search-btn {
    margin-right: 6px;
}

.search-input {
    border-style: none;
    width: 0px;
    /* display: none; */
    outline: none;
    height: 28px;
    transition: width 1s;
}

.search-input::placeholder {
    left: 10px;
}

.searching-form:hover {
    border-radius: 15px;
    border: 1px solid #707070;
}

.searching-form:hover .search-input {
    min-width: 100px;
}


/* header css end */


/* content css start */

.wrap-content {
    height: 100vh;
    min-height: 500px;
    /* min-height: 100vh; */
    position: relative;
}

.slider {
    height: 100%;
}

.slider-img {
    background-image: url(../img/silder-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
}

.xoo-wsc-items-count {
    background-color: #9E8760 !important;
}

.slider-btn {
    z-index: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 76px;
    height: 76px;
    /* padding: 35px; */
    text-align: center;
    background-color: #866733;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform-origin: center;
    font-weight: 200;
    transition: all .2s ease-out;
}

.slider-btn:hover p {
    display: none;
}

.slider-btn p {
    display: block;
    margin-bottom: 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: center;
    font-size: 13px;
}

.slider-btn-1 {
    position: absolute;
    left: 12%;
    top: 27%;
}

.slider-btn-2 {
    position: absolute;
    font-size: 13px;
    left: 48%;
    top: 31%;
}

.slider-btn-3 {
    position: absolute;
    left: 68%;
    top: 21%;
    font-size: 13px;
    text-align: center;
}

.slider-btn-4 {
    position: absolute;
    left: 77%;
    top: 63%;
    font-size: 13px;
}

.slider-btn-1:hover {
    transform: scale(2.5);
    background-image: url(../img/silde-btn-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.slider-btn-2:hover {
    transform: scale(2.5);
    background-image: url(../img/silde-btn-2.png);
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
}

.slider-btn-3:hover {
    transform: scale(2.5);
    background-image: url(../img/slide-btn-3.png);
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
}

.slider-btn-4:hover {
    transform: scale(2.5);
    background-image: url(../img/silde-btn-4.png);
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
}


/* content css end */


/* footer css start */

.footer-section {
    width: 100%;
    background-color: #F5F1EC;
}

.wrap-footer {
    width: 95%;
    margin: 0 auto;
    padding: 3% 0;
    font-size: 13px;
}

.footer-contact {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-contact-item,
.footer-service-item,
.footer-input-item {
    margin-bottom: 5px;
}

.footer-line {
    content: "";
    width: 100%;
    border-top: 1px solid #a19f9f;
    margin: 1.2% 0;
    opacity: .5;
}


/* 
.footer-service {
    margin-left: 20%;
} */

.footer-hidden-element {
    visibility: hidden;
}

.footer-input-form {
    width: 25%;
}

.footer-search-form {
    display: flex;
    height: 35px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 4px 0;
    border-radius: 15px;
    justify-content: space-between;
    border: 1px solid #707070;
    background-color: #FFFFFF;
}

.footer-search-input {
    outline: none;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    max-height: 100%;
    width: 86%;
}

.footer-search-input::placeholder {
    font-size: 13px;
}

.footer-search-btn {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    line-height: 23px;
    margin-right: 4%;
}

.footer-search-btn:hover {
    color: #000;
}

.footer-desc {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.social-connection {
    display: flex;
}

.social-connection-item i {
    color: #000;
}

.social-connection-item i:hover {
    color: #000;
}

.social-connection-item {
    margin: 0 3px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 43%;
}

.logo-img-respon {
    object-fit: contain;
    width: 52%;
}

.footer-service a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
}